<header class="header">
  <div class="top-bar"></div>
  <div class="navWrapper">
      <div class="menu-bar-wrapper">
          <div class="container">
              <div class="header-inner">
                  <div class="site-logo-title">
                      <img src="../../assets/images/imageNav.png"/>
                  </div>
                  <nav class="primary-menu">
                      <ul class="menu-list">
                          <li class="menu-link" [routerLink]="['']">Home</li>
                          <li class="menu-link" [routerLink]="['/users']">Usuarios</li>
                          <li class="menu-link" [routerLink]="['/products']">Produtos</li>                   
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</header>
