.user-content {
    position: relative;
 }

 .mainContent {
    position: relative;
    top: 180px;
 }

 .tableWrapper {
    display: flex; 
    justify-content: center;
 }

 .table {
    display: flex;
    flex-direction: column;
    
    margin-top: 5%;
    width: 50%;
 }