<app-header></app-header>

<div class="table-comtent">
  <table className="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Marca</th>
        <th>Custo</th>
        <th>Validade</th>
        <th>Venda</th>
        <th>Descricao</th>
        <th>Quantidade</th>
        <th>Lucro</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.nome}}</td>
          <td>{{product.marca}}</td>
          <td>{{product.custo}}</td>
          <td>{{product.validade}}</td>
          <td>{{product.venda}}</td>
          <td>{{product.descricao}}</td>
          <td>{{product.quantidade}}</td>
          <td>{{product.lucro}}</td>
        </tr>
    </tbody>
  </table> 
</div>