@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #FBFBFB;
  }
  
  *, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

   .formContent {
    margin-bottom: 50px;
   }
  
   .inputcustom{
      height: 50px;
      border: none;
      color: #222;
      padding-top: 20px;
      border-bottom: 2px solid #2D8728;
      width: 100%;
      font-size: 14px;
      outline: none;
   }
  
   .labelCustom {
    position: relative;
    text-transform: uppercase;
    top: 20px;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    color: #8c8c8c;
    transition: all .2s ease-in-out;
   }
  
   .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
   }
  
   .btnSave {
     width: 80px;
     height: 40px;
     background-color: #2D8728;
     color: white;
     border-radius: 10px;
     box-shadow: 2px 1px #8c8c8c;
   }

   .mat-input-container .mat-form-field-infix input {
      caret-color: #2D8728 !important;
   }

   .mat-input-underline.mat-form-field-underline {
     background-color:#2D8728;
   }

   .mat-focused .mat-form-field-underline .mat-form-field-ripple  {
    background-color:#2D8728 !important;
    caret-color: #2D8728 !important;
  }

  .mat-form-field-label.mat-input-placeholder.mat-form-field-placeholder {
    caret-color: #2D8728 !important;
    color: #2D8728 !important;
  }